@import "assets/scss/functions";
@import "assets/scss/variables";
@import "assets/scss/mixins";
@import "assets/scss/root";
@import "assets/scss/reboot";
@import "assets/scss/type";
@import "assets/scss/images";
@import "assets/scss/code";
@import "assets/scss/grid";
@import "assets/scss/tables";
@import "assets/scss/forms";
@import "assets/scss/buttons";
@import "assets/scss/transitions";
@import "assets/scss/dropdown";
@import "assets/scss/button-group";
@import "assets/scss/input-group";
@import "assets/scss/custom-forms";
@import "assets/scss/nav";
@import "assets/scss/navbar";
@import "assets/scss/card";
@import "assets/scss/breadcrumb";
@import "assets/scss/pagination";
@import "assets/scss/badge";
@import "assets/scss/jumbotron";
@import "assets/scss/alert";
@import "assets/scss/progress";
@import "assets/scss/media";
@import "assets/scss/list-group";
@import "assets/scss/close";
@import "assets/scss/toasts";
@import "assets/scss/modal";
@import "assets/scss/tooltip";
@import "assets/scss/popover";
@import "assets/scss/carousel";
@import "assets/scss/spinners";
@import "assets/scss/utilities";
@import "assets/scss/print";

html,
body {
  font-family: "Noto Sans", sans-serif;
}

h1,
h2 {
  font-family: "Comfortaa", cursive;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.variation {
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  .box-left,
  .box-right {
    height: 150px;
    width: 150px;
    z-index: -50;
  }
  .box-left {
    top: -50px;
    left: 0;
  }
  .box-right {
    bottom: -50px;
    right: 0;
  }
}

.content {
  margin-top: 150px;
  img {
    max-width: 579px;
  }
  .box-left,
  .box-right {
    height: 150px;
    width: 150px;
    z-index: -50;
  }
  .box-left {
    top: 50px;
    left: 20px;
  }
  .box-right {
    top: 50px;
    right: 20px;
  }
}

.footer {
  margin-top: 150px;
  height: 60vh;
  .btn {
    margin-top: 20vh;
  }
  .copyright {
    bottom: 10px;
  }
}
